.nav-items {
  margin: 0;
  padding: 0;
}

.nav-items>li {
  position: relative;
  display: inline-block;
}

.nav-items a {}

.nav-items a:hover {
  background-color: $blue;
}

.nav-items>li:hover .dropdown-menu {
  opacity: 1;
}

.sub-menu {
  background-color: $blue;
  visibility: hidden;
  /* hides sub-menu */
  opacity: 0;
  position: absolute;
  top: 82px;
  left: 0;
  width: 100%;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  padding-left: 0;
}

.sub-menu a:hover {
  background-color: white;
}

.sub-menu-parent:hover .sub-menu {
  background-color: $blue;
  visibility: visible;
  /* shows sub-menu */
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
  /* this removes the transition delay so the menu will be visible while the other styles transition */
}


/*------------------------------------*\
    Flaunt JS Navigation
\*------------------------------------*/

.nav {
  position: relative;
  display: inline-block;
  float: right;
}

.nav-list {
  text-align: left;
  margin: 0;
  padding: 0;
}

.nav-item {
  float: left;
  *display: inline;
  zoom: 1;
  position: relative;
}

.nav-item a {
  display: block;
  padding: 2em .8em;
}

.nav-item>a:hover {
  background: #005a8f;
}

.nav-item:hover {
  background: #005a8f;
}

.nav-item:hover a {
  color: #fff;
}

.nav-item:hover .nav-submenu {
  display: block;
}


/* Navigation submenu */

.nav-submenu {
  display: none;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  left: 0;
  width: 100%;
}

.nav-submenu-item a {
  background: #005a8f;
  border-bottom: 1px solid #006dae;
  display: block;
  padding: 15px;
}

.nav-submenu-item a:hover {
  background: #fff;
  border-bottom: 1px solid #005a8f;
  color: #005a8f;
}


/* Mobile navigation */

.nav-mobile {
  display: none;
  /* Hide from browsers that don't support media queries */
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  /** background: #3D3D3B url(/images/nav.svg) no-repeat center center;**/
  background-size: 18px;
  height: 50px;
  width: 50px;
}


/* Mobile navigation, clickable area for revealing <ul> */

.nav-click {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  border-left: 1px solid #005a8f;
  height: 46px;
  width: 50px;
  cursor: pointer;
}

.nav-click i {
  display: block;
  height: 48px;
  width: 48px;
  /** background: url(/images/drop.svg) no-repeat center center; **/
  background-size: 20px;
  line-height: 28px;
}

.nav-click i:before {
  content: "\f078";
  font-size: 1rem;
  position: absolute;
  left: 16px;
  top: 10px;
  color: white;
}

.nav-click:hover,
.nav-click:active {
  background-color: #005a8f;
}

.nav-rotate {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}


/*------------------------------------*\
    Media Queries
\*------------------------------------*/

@media only screen and (min-width: 320px) and (max-width: 860px) {
  .nav-mobile {
    display: block;
    font-size: 2rem;
  }
  .nav-mobile:before {
    content: "\f0c9";
  }

  .nav-mobile.active:before {
    content: "\f00d";
  }

  .nav {
    width: 100%;
    padding: 50px 0 0;
  }
  .nav-list {
    display: none;
    position: absolute;
    margin: 1.8rem 0 0 0;
    padding: 0;
    right: 0;
    min-width: 320px;
    background: #006dae;
  }
  .nav-item {
    width: 100%;
    float: none;
  }
  .nav-item>a {
    padding: 15px;
    border-bottom: 1px solid #005a8f;
    color: #fff;
  }
  .nav-click {
    display: block;
  }
  .nav-mobile-open {
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
  }
  .nav-item:hover .nav-submenu {
    display: none;
  }
  .nav-submenu {
    position: static;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .nav-submenu-item a {
    color: #fff;
    text-align: left;
  }
}